* {
  /* margen */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-style: 800;
}

nav {
  text-align: center;
  padding: 30px 50px 0 0;
  flex: 1;
}

nav > a {
  color: #fff;
  font-weight: 300;
  text-decoration: none;
  font-size: 16px;
  margin-right: 10px;
}
nav > a:hover {
  text-decoration: underline;
  color: rgb(245, 228, 135);
}

h1 {
  height: 90px;
  margin: 0px;
  font-size: 90px;
  font-weight: 900;
  color: hsla(192, 85%, 51%, 0.788);
  text-shadow: 1px 2px 2px black, 0 0 25px blue, 0 0 5px blue;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  background: #030303;
  padding: 60px 0 30px 0;
  margin: auto;
  overflow: hidden;
}

.intro {
  width: 100%;
  background: #000046;
  background: -webkit-linear-gradient(to right, hwb(192 80% 22%/0.589), hsl(240, 80%, 14%)), url(https://e00-elmundo.uecdn.es/assets/multimedia/imagenes/2022/12/19/16714678174157.jpg);
  background: linear-gradient(to right, hwb(0 78% 22%/0.589), hsl(240, 80%, 14%)), url(https://e00-elmundo.uecdn.es/assets/multimedia/imagenes/2022/12/19/16714678174157.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.intro .wave {
  width: 100%;
}
.intro .logo-pagina {
  margin: 16px;
}
.intro .textos-header {
  display: flex;
  height: 430px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.intro .textos-header h1 {
  font-size: 80px;
  color: hsla(192, 85%, 51%, 0.788);
  margin: 25px;
}
.intro .textos-header h2 {
  font-size: 40px;
  color: hsla(0, 0%, 3%, 0.788);
}
.intro .textos-header h3 {
  font-size: 30px;
  color: rgb(157, 197, 238);
  margin-top: 42px;
}
.intro .textos-header h4 {
  font-size: 20px;
  color: rgb(5, 5, 5);
  margin-top: 42px;
}

.contenedorsobremundiales .titulo2 {
  color: #030303;
  font-size: 60px;
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: rgb(255, 243, 174);
  background-size: cover;
  margin-bottom: 0.5px;
}
.contenedorsobremundiales .contenedor-sobre-mundiales {
  display: flex;
  justify-content: space-evenly;
  background-size: cover;
  background-attachment: fixed;
  align-items: center;
}
.contenedorsobremundiales .contenido-textos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.contenedorsobremundiales .contenido-textos h3 {
  margin-bottom: 5px;
  color: #201f1f;
  text-shadow: 1px 2px 2px rgb(15, 14, 14), 0 0 25px rgb(54, 54, 128), 0 0 5px rgb(18, 18, 209);
}
.contenedorsobremundiales .contenido-textos h3 span {
  background: #4d0686;
  color: #050505;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  padding: 2px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  margin-right: 5px;
  margin-top: 5px;
}
.contenedorsobremundiales .contenido-textos p {
  padding: 0px 0px 30px 15px;
  font-weight: 100;
  font-size: 1rem;
  text-align: justify;
  font-size: 20px;
  font-weight: 1900;
  color: hsla(0, 0%, 0%, 0.788);
  text-shadow: 1px 2px 2px rgb(235, 230, 230), 0 0 25px rgb(193, 193, 196), 0 0 5px rgb(230, 230, 243);
  margin-top: 25px;
}
.contenedorsobremundiales .contenido-textos iframe {
  width: 500px;
  height: 315px;
}
.contenedorsobremundiales .texto-media {
  visibility: visible;
  justify-content: center;
  text-align: center;
}

@media (width <= 500px) {
  .texto-media {
    width: 250px;
    overflow: visible;
  }
  .foto-campeones {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
