









/*JUGADORES DESTACADOS*/

.jugadores-destacados {
    background-image: url(https://cdn.pixabay.com/photo/2016/10/22/17/06/gradient-1761190_1280.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.galeria-jugadores {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-jugadores {
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

.imagen-jugadores>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hoover-jugadores {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(0, 0%, 0%, 0.7);
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hoover-jugadores p {
    color: hsla(180, 33%, 98%, 0.788);
}

.hoover-jugadores img {
    width: 200px;
}

.imagen-jugadores:hover .hoover-jugadores {
    transform: scale(1);
}

/*DT DESTACADOS*/

.DT-destacados {
    background-image: url(https://images.unsplash.com/photo-1517747614396-d21a78b850e8?q=80&w=2127&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-attachment: fixed;
}

.galeria-DT {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-DT {
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

.imagen-DT>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hoover-DT {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(0, 0%, 0%, 0.7);
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hoover-DT p {
    color: hsla(180, 33%, 98%, 0.788);
}

.hoover-DT img {
    width: 200px;
}

.imagen-DT:hover .hoover-DT {
    transform: scale(1);
}

/*GALERIA DE IMÁGENES*/

div.imagenesmundiales h1 {
    height: 90px;
    width: 150%;
    margin: 45px;
    font-size: 90px;
    font-weight: 900;
    color: hsla(192, 4%, 72%, 0.788);
    text-shadow: 1px 2px 2px black, 0 0 25px blue, 0 0 5px blue;
}

div.imagenesmundiales {
    background-image: url(https://images.unsplash.com/photo-1487088678257-3a541e6e3922?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-flow: wrap;
}

div.galerias {
    margin: 10px 20px;
    box-shadow: 0 4px 8px 0 lightskyblue, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 350px;
    background-color: #7c5f5f;
}

div.galerias img {
    width: 100%;
    height: auto;
}

div.galerias:hover {
    border: 1px solid lightcoral;
    transform: rotate(-3deg);
}

div.pie {
    text-align: center;
    text-shadow: 2px 2px 5px rgb(197, 191, 197);
    padding: 10px;
}

/*los-mejores-goles*/

.global {
    background-image: url(https://images.unsplash.com/photo-1520698857293-5d763dde010f?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.tituloini {
    margin-bottom: 1%;
}

.contenido-videos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-flow: wrap;
    margin: 0 5%;
    text-align: center;
    text-shadow: 2px 2px 5px rgb(197, 191, 197);
    padding: 10px;
    margin-bottom: 0, 5%;
    background-color: #6b626241;
}

.videos a {
    text-decoration: none;
    color: #d9d9e4;
}

/*que-mirá-bobo*/

.contenedor-quemirabobo {
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/139/266/574/argentina-barcelona-lionel-messi-wallpaper-preview.jpg);
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.7;
}

div.titulo-quemirabobo h1 {
    height: 90px;
    font-size: 90px;
    font-weight: 950;
    color: hsla(0, 0%, 0%, 0.979);
    text-shadow: 1px 2px 2px black, 0 0 25px blue, 0 0 5px blue;
}

div.videos-messi .video2 {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 0 32% 0 32%;
}

div.videos-messi .video2 p {
    text-align: center;
    text-shadow: 2px 2px 5px rgb(10, 10, 10);
    padding: 10px;
    font-size: 40px;
    color: hsla(0, 0%, 0%, 0.979);
}

div.videos-messi .video3 {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 0 32% 0 32%;
}

div.videos-messi .video3 p {
    text-align: center;
    text-shadow: 2px 2px 5px rgb(12, 12, 12);
    padding: 10px;
    font-size: 40px;
    color: hsla(0, 0%, 0%, 0.979);
}

div.paragraph-messi {
    text-align: center;
    text-shadow: 2px 2px 5px rgb(197, 191, 197);
    padding: 10px;
}

div.paragraph-messi h3 {
    text-align: center;
    font-size: 50px;
    text-shadow: 1px 2px 2px rgb(17, 17, 17), 0 0 25px blue, 0 0 5px blue;
    color: hsla(0, 0%, 0%, 0.979);
}

div.paragraph-messi p {
    font-size: 25px;
    font-weight: 1900;
    text-shadow: 1px 2px 2px rgb(231, 228, 228), 0 0 25px rgb(145, 141, 141),
        0 0 5px rgb(183, 183, 185);
    color: hsla(0, 0%, 0%, 0.979);
    margin-top: 25px;
    justify-content: center;
    text-align: center;
    text-rendering: optimizeLegibility;
}

/*Celulares*/

@media (width<=1400px) {
    .logo-pagina {
        display: none !important;
    }

    .contenedor-sobre-mundiales {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contenedor-sobre-mundiales iframe {
        display: none !important;
    }

    .foto-campeones {
        display: none !important;
    }

    .texto-media {
        visibility: visible;
        justify-content: center;
        text-align: center;
    }
}

@media (width<=500px) {
    .galeria-organismos {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .imagen-organismos {
        width: 50%;
        height: 230px;
    }

    header nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-bottom: 55px;
    }

    .textos-header h1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-bottom: 55px;
        font-size: 55px;
    }

    .textos-header h2 {
        font-size: 25px;
        justify-content: center;
        text-align: center;
    }

    .textos-header h3 {
        font-size: 15px;
        justify-content: center;
        text-align: center;
    }

    .textos-header h4 {
        font-size: 15px;
        justify-content: center;
        text-align: center;
    }

    .titulo2 {
        font-size: 25px;
        justify-content: center;
        text-align: center;
    }

    .texto-media {
        display: flex;
        flex-direction: column;
        visibility: visible;
        justify-content: center;
        text-align: center;
        font-size: 2px;
    }

    .photo-mundial {
        width: 500px;
        margin-bottom: 15px;
    }
}