
















/*que-mirá-bobo*/

.contenedor-quemirabobo {
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/139/266/574/argentina-barcelona-lionel-messi-wallpaper-preview.jpg);
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.7;
}

div.titulo-quemirabobo h1 {
    height: 90px;
    font-size: 90px;
    font-weight: 950;
    color: hsla(0, 0%, 0%, 0.979);
    text-shadow: 1px 2px 2px black, 0 0 25px blue, 0 0 5px blue;
}

div.videos-messi .video2 {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 0 32% 0 32%;
}

div.videos-messi .video2 p {
    text-align: center;
    text-shadow: 2px 2px 5px rgb(10, 10, 10);
    padding: 10px;
    font-size: 40px;
    color: hsla(0, 0%, 0%, 0.979);
}

div.videos-messi .video3 {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 0 32% 0 32%;
}

div.videos-messi .video3 p {
    text-align: center;
    text-shadow: 2px 2px 5px rgb(12, 12, 12);
    padding: 10px;
    font-size: 40px;
    color: hsla(0, 0%, 0%, 0.979);
}

div.paragraph-messi {
    text-align: center;
    text-shadow: 2px 2px 5px rgb(197, 191, 197);
    padding: 10px;
}

div.paragraph-messi h3 {
    text-align: center;
    font-size: 50px;
    text-shadow: 1px 2px 2px rgb(17, 17, 17), 0 0 25px blue, 0 0 5px blue;
    color: hsla(0, 0%, 0%, 0.979);
}

div.paragraph-messi p {
    font-size: 25px;
    font-weight: 1900;
    text-shadow: 1px 2px 2px rgb(231, 228, 228), 0 0 25px rgb(145, 141, 141),
        0 0 5px rgb(183, 183, 185);
    color: hsla(0, 0%, 0%, 0.979);
    margin-top: 25px;
    justify-content: center;
    text-align: center;
    text-rendering: optimizeLegibility;
}

/*Celulares*/

@media (width<=1400px) {
    .logo-pagina {
        display: none !important;
    }

    .contenedor-sobre-mundiales {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contenedor-sobre-mundiales iframe {
        display: none !important;
    }

    .foto-campeones {
        display: none !important;
    }

    .texto-media {
        visibility: visible;
        justify-content: center;
        text-align: center;
    }
}

@media (width<=500px) {
    .galeria-organismos {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .imagen-organismos {
        width: 50%;
        height: 230px;
    }

    header nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-bottom: 55px;
    }

    .textos-header h1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-bottom: 55px;
        font-size: 55px;
    }

    .textos-header h2 {
        font-size: 25px;
        justify-content: center;
        text-align: center;
    }

    .textos-header h3 {
        font-size: 15px;
        justify-content: center;
        text-align: center;
    }

    .textos-header h4 {
        font-size: 15px;
        justify-content: center;
        text-align: center;
    }

    .titulo2 {
        font-size: 25px;
        justify-content: center;
        text-align: center;
    }

    .texto-media {
        display: flex;
        flex-direction: column;
        visibility: visible;
        justify-content: center;
        text-align: center;
        font-size: 2px;
    }

    .photo-mundial {
        width: 500px;
        margin-bottom: 15px;
    }
}