@import "../css/partial/index";
@import "../css/partial/maps";
@import "../css/partial/generales";
@import "../css/partial/variables";
@import "../css/partial/animaciones";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,800;1,500;1,600&display=swap");
%hoover-styles {
    position: absolute;
    width: map-get($tamaños,ancho);
    height: map-get($tamaños,altura);
    top: 0;
    transform: scale(0);
    background: hsla(0, 0%, 0%, 0.7);
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p {
        color: hsla(180, 33%, 98%, 0.788);
    }

    img {
        width: 200px;
    }
}

.boton {
    display: none !important;
}

.intro {
    width: map-get($tamaños,ancho);
    background: #000046;
    background: -webkit-linear-gradient(to right, hwb(192 80% 22% / 0.589), hsl(240, 80%, 14%)),
        url(https://e00-elmundo.uecdn.es/assets/multimedia/imagenes/2022/12/19/16714678174157.jpg);
    background: linear-gradient(to right, hwb(0 78% 22% / 0.589), hsl(240, 80%, 14%)),
        url(https://e00-elmundo.uecdn.es/assets/multimedia/imagenes/2022/12/19/16714678174157.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;

    .wave {
        width: map-get($tamaños,ancho);
    }

    .logo-pagina {
        margin: 16px;
        animation: rotacionlogo 5s infinite;
    }

    

    .textos-header {
        display: flex;
        height: 430px;
        width: map-get($tamaños,ancho);
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        h1 {
            font-size: 60px;
            color: hsla(192, 85%, 51%, 0.788);
            margin: 25px;
        }
    }
}

footer {
    background: #030303;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .conteiner-footer {
        display: flex;
        width: 90%;
        justify-content: space-evenly;
        margin: auto;
        padding-bottom: 50px;
        border-bottom: 1px solid #ccc;

        .content-foo {
            text-align: center;

            h4 {
                color: #fff;
                border-bottom: 3px solid #af20d3;
                padding-bottom: 5px;
                margin-bottom: 10px;
            }

            p {
                color: #ccc;
            }

            a {
                text-decoration: none;
                color: rgb(248, 155, 155);
            }
        }
    }
}

.Indice {
    background-image: url(https://images.unsplash.com/photo-1603484477859-abe6a73f9366?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-attachment: fixed;
    justify-content: center;
    text-align: center;

    h2 {
        font-size: 56px;
    }
}

.contenido-mundiales {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 10%;
}

.accordion {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    
}

.accordion-button {
    width: map-get($tamaños,ancho);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    font-family: #{$font-family};
    font-size: map-get($tamaños, tamañofuente);
    margin-bottom: 5%;

    &.accordion-1970,
    &.accordion-1986 {
        color: rgb(8, 8, 8);
        opacity: 0.9;
    }

    &.accordion-1950,
    &.accordion-1958,
    &.accordion-2018 {
        color: rgb(255, 254, 249);
    }

    &.accordion-2010 {
        color: rgb(143, 141, 141);
    }
}

.accordion-1930 {
    button {
        background-image: url(https://img.freepik.com/vector-premium/fondo-blanco-lujo-efecto-lineas-doradas_181182-188.jpg);
        background-size: contain;
        margin-bottom: 5%;
    }
}

.accordion-1934 {
    button {
        background-image: url(https://img.freepik.com/vector-premium/fondo-blanco-lujo-efecto-lineas-doradas_181182-188.jpg);
        background-size: contain;
        margin-bottom: 5%;
    }
}

.accordion-1938 {
    button {
        background-image: url(https://img.freepik.com/vector-premium/fondo-blanco-lujo-efecto-lineas-doradas_181182-188.jpg);
        background-size: contain;
        margin-bottom: 5%;
    }
}

.accordion-1950 {
    button {
        background-image: url(https://img.freepik.com/vector-premium/fondo-blanco-lujo-efecto-lineas-doradas_181182-188.jpg);
        background-size: contain;
        color: rgb(7, 7, 7);
        margin-bottom: 5%;
    }
}

.accordion-1954 {
    button {
        background-image: url(https://img.freepik.com/vector-premium/fondo-blanco-lujo-efecto-lineas-doradas_181182-188.jpg);
        background-size: contain;
        margin-bottom: 5%;
    }
}

.accordion-1958 {
    button {
        background-image: url(https://img.freepik.com/vector-premium/fondo-blanco-lujo-efecto-lineas-doradas_181182-188.jpg);
        background-size: contain;
        color: rgb(10, 10, 10);
        margin-bottom: 5%;
    }
}

.accordion-1962 {
    button {
        background-image: url(https://img.freepik.com/vector-premium/fondo-blanco-lujo-efecto-lineas-doradas_181182-188.jpg);
        background-size: contain;
        margin-bottom: 5%;
    }
}

.accordion-1966 {
    button {
        background-image: url(https://img.freepik.com/vector-premium/fondo-blanco-lujo-efecto-lineas-doradas_181182-188.jpg);
        background-size: contain;
        margin-bottom: 5%;
    }
}

.accordion-1970 {
    button {
        background-image: url(https://img.freepik.com/vector-premium/fondo-blanco-lujo-efecto-lineas-doradas_181182-188.jpg);
        color: rgb(8, 8, 8);
        opacity: 0.9;
        margin-bottom: 5%;
    }
}

.accordion-1974 {
    button {
        background-image: url(https://img.freepik.com/vector-premium/fondo-blanco-lujo-efecto-lineas-doradas_181182-188.jpg);
        color: rgb(3, 3, 3);
        margin-bottom: 5%;
    }
}

.accordion-1978 {
    button {
        background-image: url(https://img.freepik.com/vector-premium/fondo-blanco-lujo-efecto-lineas-doradas_181182-188.jpg);
        margin-bottom: 5%;
    }
}

.accordion-1982 {
    button {
        background-image: url(https://img.freepik.com/vector-premium/fondo-blanco-lujo-efecto-lineas-doradas_181182-188.jpg);
        margin-bottom: 5%;
    }
}

.accordion-1986 {
    button {
        background-image: url(https://img.freepik.com/vector-premium/fondo-blanco-lujo-efecto-lineas-doradas_181182-188.jpg);
        margin-bottom: 5%;
        color: rgb(8, 8, 8);
        opacity: 0.9;
        margin-bottom: 5%;
    }
}

.accordion-1990 {
    button {
        background-image: url(https://img.freepik.com/vector-premium/fondo-blanco-lujo-efecto-lineas-doradas_181182-188.jpg);
        margin-bottom: 5%;
    }
}

.accordion-1994 {
    button {
        background-image: url(https://img.freepik.com/vector-premium/fondo-blanco-lujo-efecto-lineas-doradas_181182-188.jpg);
        margin-bottom: 5%;
    }
}

.accordion-1998 {
    button {
        background-image: url(https://img.freepik.com/vector-premium/fondo-blanco-lujo-efecto-lineas-doradas_181182-188.jpg);
        margin-bottom: 5%;
    }
}

.accordion-2002 {
    button {
        background-image: url(https://img.freepik.com/vector-premium/fondo-blanco-lujo-efecto-lineas-doradas_181182-188.jpg);
        margin-bottom: 5%;
    }
}

.accordion-2006 {
    button {
        background-image: url(https://img.freepik.com/vector-premium/fondo-blanco-lujo-efecto-lineas-doradas_181182-188.jpg);
        margin-bottom: 5%;
    }
}

.accordion-2010 {
    button {
        background-image: url(https://img.freepik.com/vector-premium/fondo-blanco-lujo-efecto-lineas-doradas_181182-188.jpg);
        color: rgb(7, 7, 7);
        margin-bottom: 5%;
    }
}

.accordion-2014 {
    button {
        background-image: url(https://img.freepik.com/vector-premium/fondo-blanco-lujo-efecto-lineas-doradas_181182-188.jpg);
        color: rgb(7, 7, 7);
        margin-bottom: 5%;
    }
}

.accordion-2018 {
    button {
        background-image: url(https://img.freepik.com/vector-premium/fondo-blanco-lujo-efecto-lineas-doradas_181182-188.jpg);
        color: rgb(12, 12, 12);
        margin-bottom: 5%;
    }
}

.accordion-2022 {
    button {
        background-image: url(https://img.freepik.com/vector-premium/fondo-blanco-lujo-efecto-lineas-doradas_181182-188.jpg);
        margin-bottom: 5%;
    }
}

.jugadores-destacados {
    background-image: url(https://cdn.pixabay.com/photo/2016/10/22/17/06/gradient-1761190_1280.jpg);
    background-size: cover;
    background-attachment: fixed;

    .titulo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #030303;
        font-size: 60px;
        text-align: center;
        font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
        background-color: rgb(255, 243, 174);
        background-size: cover;
        margin-bottom: 0.5px;
    }
}

.galeria-jugadores {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-jugadores {
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);

    > img {
        width: 100%;
        height: map-get($tamaños,altura);
        object-fit: cover;
        display: block;
    }

    .hoover-jugadores {
        position: absolute;
        width: map-get($tamaños,ancho);
        height: map-get($tamaños,altura);
        top: 0;
        transform: scale(0);
        background: hsla(0, 0%, 0%, 0.7);
        transition: transform 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        p {
            color: hsla(180, 33%, 98%, 0.788);
        }

        img {
            width: auto;
            height: auto;
        }
    }

    &:hover .hoover-jugadores {
        transform: scale(1);
    }
}

.DT-destacados {
    background-image: url(https://images.unsplash.com/photo-1517747614396-d21a78b850e8?q=80&w=2127&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-attachment: fixed;

    .titulo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #030303;
        font-size: 60px;
        text-align: center;
        font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
        background-color: rgb(255, 243, 174);
        background-size: cover;
        margin-bottom: 0.5px;
    }
}

.galeria-DT {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-DT {
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

.imagen-DT > img {
    width: map-get($tamaños,ancho);
    height: map-get($tamaños,altura);
    object-fit: cover;
    display: block;
}

.hoover-DT {
    @extend %hoover-styles;
}

.imagen-DT:hover .hoover-DT {
    transform: scale(1);
}

div.imagenesmundiales {
    background-image: url(https://images.unsplash.com/photo-1487088678257-3a541e6e3922?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-flow: wrap;

    h1 {
        height: 90px;
        width: 150%;
        margin: 45px;
        font-size: 90px;
        font-weight: 900;
        color: hsla(192, 4%, 72%, 0.788);
        text-shadow:
            1px 2px 2px black,
            0 0 25px blue,
            0 0 5px blue;
    }
}

div.galerias {
    margin: 10px 20px;
    box-shadow:
        0 4px 8px 0 lightskyblue,
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 350px;
    background-color: #7c5f5f;

    img {
        width: map-get($tamaños,ancho);
        height: auto;
    }

    &:hover {
        border: 1px solid lightcoral;
        transform: rotate(-3deg);
    }
}

div.pie {
    text-align: center;
    text-shadow: 2px 2px 5px rgb(197, 191, 197);
    padding: 10px;
}

.global {
    background-image: $imagen-fondo;
}

.tituloini {
    margin-bottom: 1%;
}

.contenido-videos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-flow: wrap;
    margin: 0 5%;
    text-align: center;
    text-shadow: 2px 2px 5px rgb(197, 191, 197);
    padding: 10px;
    margin-bottom: 0.5%;
    background-color: $color-fondo-contenido;
}

.videos a {
    text-decoration: none;
    color: $color-texto-enlaces;
}

@import "../css/partial/mediaquery";
