@import "../css/partial/generales";
@import "../css/partial/variables";
@import "../css/partial/animaciones";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,800;1,500;1,600&display=swap");
%hoover-styles {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(0, 0%, 0%, 0.7);
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p {
        color: hsla(180, 33%, 98%, 0.788);
    }

    img {
        width: 200px;
    }
}


.boton {
    display: none !important;
}

.intro {
    width: 100%;
    background: #000046;
    background: -webkit-linear-gradient(to right, hwb(192 80% 22% / 0.589), hsl(240, 80%, 14%)),
        url(https://e00-elmundo.uecdn.es/assets/multimedia/imagenes/2022/12/19/16714678174157.jpg);
    background: linear-gradient(to right, hwb(0 78% 22% / 0.589), hsl(240, 80%, 14%)),
        url(https://e00-elmundo.uecdn.es/assets/multimedia/imagenes/2022/12/19/16714678174157.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;

    .wave {
        width: 100%;
    }

    .logo-pagina {
        margin: 16px;
        animation: rotacionlogo 5s infinite;
    }

    .textos-header {
        display: flex;
        height: 430px;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        h1 {
            font-size: 80px;
            color: hsla(192, 85%, 51%, 0.788);
            margin: 25px;
        }

        h2 {
            font-size: 40px;
            color: hsla(0, 0%, 3%, 0.788);
        }

        h3 {
            font-size: 30px;
            color: rgb(157, 197, 238);
            margin-top: 42px;
        }

        h4 {
            font-size: 20px;
            color: rgb(5, 5, 5);
            margin-top: 42px;
        }
    }
}

.contenedorsobremundiales {
    .titulo2 {
        color: #030303;
        font-size: 60px;
        text-align: center;
        font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
        background-color: rgb(255, 243, 174);
        background-size: cover;
        margin-bottom: 0.5px;
    }

    .contenedor-sobre-mundiales {
        display: flex;
        justify-content: space-evenly;
        background-image: url(https://images.unsplash.com/photo-1598347104365-2263f1870f8a?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
        background-size: cover;
        background-attachment: fixed;
        align-items: center;
    }

    .contenido-textos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin-bottom: 20px;

        h3 {
            margin: 25px 0;
            color: #0f68db;
            text-shadow:
                1px 2px 2px rgb(15, 14, 14),
                0 0 25px rgb(54, 54, 128),
                0 0 5px rgb(18, 18, 209);
        }

        h3 span {
            background: #2350e6;
            color: #f0eaea;
            border-radius: 50%;
            display: inline-block;
            text-align: center;
            width: 30px;
            height: 30px;
            padding: 2px;
            box-shadow: 0 0 6px 0 rgba(233, 231, 231, 0.5);
            margin-right: 5px;
            margin-top: 5px;
        }

        p {
            padding: 0px 0px 30px 15px;
            font-weight: 100;
            font-size: 1rem;
            text-align: justify;
            font-size: 20px;
            font-weight: 1900;
            color: hsla(0, 14%, 95%, 0.788);
            margin-top: 25px;
        }

        iframe {
            width: 500px;
            height: 315px;
        }
    }

    .texto-media {
        display: none;
        justify-content: center;
        text-align: center;
    }

    .foto-campeones {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: auto;
        margin: auto;
    }
}

.organismos {
    background-image: url(https://cdn.pixabay.com/photo/2016/05/09/17/26/background-texture-1382002_1280.jpg);
    background-size: cover;
    background-attachment: fixed;

    .contenedor-organismos {
        .titulo {
            color: #030303;
            font-size: 60px;
            text-align: center;
            font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
            background-color: rgb(255, 243, 174);
            background-size: cover;
            margin-bottom: 0.5px;
        }
    }

    .galeria-organismos {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 25px;

        .hoover-galeria {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            transform: scale(0);
            background: hsla(0, 0%, 0%, 0.7);
            transition: transform 0.5s;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            a {
                color: unset;
                text-decoration: none;
            }

            img {
                width: auto;
                height: auto;
            }

            p {
                color: hsla(180, 33%, 98%, 0.788);
            }
        }
    }

    .imagen-organismos {
        width: 24%;
        margin-bottom: 10px;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);

        &:hover .hoover-galeria {
            transform: scale(1);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            opacity: 0.7;
        }
    }
}

.about-us {
    background-image: url(https://images.unsplash.com/photo-1570876050997-2fdefb00c004?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 30px;

    .titulo {
        color: #030303;
        font-size: 60px;
        text-align: center;
        font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
        background-color: rgb(255, 243, 174);
        background-size: cover;
        margin-bottom: 0.5px;
    }

    .nosotros-ind {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        p {
            width: 70%;
            padding: 0px 0px 30px 15px;
            font-weight: 100;
            font-size: 1rem;
            color: hsl(0, 11%, 89%);
            margin-top: 25px;
        }
    }
}

footer {
    background: #030303;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .conteiner-footer {
        display: flex;
        width: 90%;
        justify-content: space-evenly;
        margin: auto;
        padding-bottom: 50px;
        border-bottom: 1px solid #ccc;

        .content-foo {
            text-align: center;

            h4 {
                color: #fff;
                border-bottom: 3px solid #af20d3;
                padding-bottom: 5px;
                margin-bottom: 10px;
            }

            p {
                color: #ccc;
            }

            a {
                text-decoration: none;
                color: rgb(248, 155, 155);
            }
        }
    }
}

.Indice {
    background-image: url(https://images.unsplash.com/photo-1603484477859-abe6a73f9366?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-attachment: fixed;
    justify-content: center;
    text-align: center;

    h2 {
        font-size: 56px;
    }
}

.contenido-mundiales {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 10%;
}

.accordion-button {
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    font-family: #{$font-family};
    font-size: 65px;
    margin-bottom: 5%;

    &.accordion-1970,
    &.accordion-1986 {
        color: rgb(8, 8, 8);
        opacity: 0.9;
    }

    &.accordion-1950,
    &.accordion-1958,
    &.accordion-2018 {
        color: rgb(255, 254, 249);
    }

    &.accordion-2010 {
        color: rgb(143, 141, 141);
    }
}

.accordion-1930 {
    button {
        background-image: url(https://img.freepik.com/foto-gratis/bandera-uruguay_1401-254.jpg?size=626&ext=jpg&ga=GA1.1.1880011253.1704672000&semt=ais);
        margin-bottom: 5%;
    }
}

.accordion-1934 {
    button {
        background-image: url(https://img.freepik.com/vector-premium/bandera-italia-efecto-ondulado-proporcion-oficial_292608-2021.jpg);
        margin-bottom: 5%;
    }
}

.accordion-1938 {
    button {
        background-image: url(https://static.vecteezy.com/system/resources/previews/001/176/893/non_2x/flag-of-france-background-vector.jpg);
        font-size: 65px;
        margin-bottom: 5%;
    }
}

.accordion-1950 {
    button {
        background-image: url(https://t2.uc.ltmcdn.com/es/posts/1/2/5/significado_de_la_bandera_y_escudo_de_brasil_49521_orig.jpg);
        font-size: 65px;
        color: rgb(255, 254, 249);
        margin-bottom: 5%;
    }
}

.accordion-1954 {
    button {
        background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/8a/Bandera_de_Suiza.png/640px-Bandera_de_Suiza.png);
        margin-bottom: 5%;
    }
}

.accordion-1958 {
    button {
        background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Flag_of_Sweden.svg/2560px-Flag_of_Sweden.svg.png);
        font-size: 65px;
        color: rgb(255, 254, 249);
        margin-bottom: 5%;
    }
}

.accordion-1962 {
    button {
        background-image: url(https://static.vecteezy.com/system/resources/previews/002/431/835/original/illustration-of-the-chile-flag-free-vector.jpg);
        font-size: 65px;
        margin-bottom: 5%;
    }
}

.accordion-1966 {
    button {
        background-image: url(https://static.vecteezy.com/system/resources/previews/009/287/763/non_2x/england-national-flag-waving-realistic-illustration-vector.jpg);
        margin-bottom: 5%;
    }
}

.accordion-1970 {
    button {
        background-image: url(https://www.despensamexicana.es/large/Banderas-Mexicanas-i7.jpg);
        font-size: 65px;
        color: rgb(8, 8, 8);
        opacity: 0.9;
        margin-bottom: 5%;
    }
}

.accordion-1974 {
    button {
        background-image: url(https://media.istockphoto.com/id/475988677/es/foto/bandera-alemania.jpg?s=612x612&w=0&k=20&c=QhnSh5z96fGvYMMhl0-xWod4PrdS59eSsQN6vE6FegA=);
        font-size: 65px;
        color: rgb(255, 254, 249);
        margin-bottom: 5%;
    }
}

.accordion-1978 {
    button {
        background-image: url(https://img.freepik.com/vector-gratis/ilustracion-bandera-argentina_53876-27120.jpg);
        font-size: 65px;
        margin-bottom: 5%;
    }
}

.accordion-1982 {
    button {
        background-image: url(https://static.vecteezy.com/system/resources/previews/008/070/285/non_2x/spain-flag-icon-in-official-color-and-proportion-correctly-free-vector.jpg);
        font-size: 65px;
        margin-bottom: 5%;
    }
}

.accordion-1986 {
    button {
        background-image: url(https://www.despensamexicana.es/large/Banderas-Mexicanas-i7.jpg);
        font-size: 65px;
        margin-bottom: 5%;
        color: rgb(8, 8, 8);
        opacity: 0.9;
        margin-bottom: 5%;
    }
}

.accordion-1990 {
    button {
        background-image: url(https://img.freepik.com/vector-premium/bandera-italia-efecto-ondulado-proporcion-oficial_292608-2021.jpg);
        font-size: 65px;
        margin-bottom: 5%;
    }
}

.accordion-1994 {
    button {
        background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Flag_of_the_United_States.svg/2560px-Flag_of_the_United_States.svg.png);
        font-size: 65px;
        margin-bottom: 5%;
    }
}

.accordion-1998 {
    button {
        background-image: url(https://static.vecteezy.com/system/resources/previews/001/176/893/non_2x/flag-of-france-background-vector.jpg);
        font-size: 65px;
        margin-bottom: 5%;
    }
}

.accordion-2002 {
    button {
        background-image: url(https://img.freepik.com/fotos-premium/banderas-corea-sur-japon-primer-plano-bandera-lino-bandera-hecha-lienzo-simbolos-nacionales-estado-japones-seul-coreano-ilustracion-3d_630687-2313.jpg);
        font-size: 65px;
        margin-bottom: 5%;
    }
}

.accordion-2006 {
    button {
        background-image: url(https://media.istockphoto.com/id/475988677/es/foto/bandera-alemania.jpg?s=612x612&w=0&k=20&c=QhnSh5z96fGvYMMhl0-xWod4PrdS59eSsQN6vE6FegA=);
        font-size: 65px;
        margin-bottom: 5%;
    }
}

.accordion-2010 {
    button {
        background-image: url(https://wp.growproexperience.com/wp-content/uploads/2022/06/Todo-sobre-la-bandera-de-Suda%CC%81frica-Significado-e-historia-.jpg);
        font-size: 65px;
        color: rgb(143, 141, 141);
        margin-bottom: 5%;
    }
}

.accordion-2014 {
    button {
        background-image: url(https://t2.uc.ltmcdn.com/es/posts/1/2/5/significado_de_la_bandera_y_escudo_de_brasil_49521_orig.jpg);
        font-size: 65px;
        color: rgb(255, 254, 249);
        margin-bottom: 5%;
    }
}

.accordion-2018 {
    button {
        background-image: url(https://media.istockphoto.com/id/1298626865/es/v%C3%ADdeo/bandera-de-sat%C3%A9n-de-rusia-ondeando-la-textura-de-la-tela-real-de-la-bandera-de-rusia.jpg?s=640x640&k=20&c=Z1WXAAWnHy_onhDemLRMnEZlr5YV1XFLKEi3dEqzd74=);
        font-size: 65px;
        color: rgb(255, 254, 249);
        margin-bottom: 5%;
    }
}

.accordion-2022 {
    button {
        background-image: url(https://cdn2.dineroenimagen.com/media/dinero/images/2022/11/bandera-qatar-costumbre.jpg);
        font-size: 65px;
        margin-bottom: 5%;
    }
}

.jugadores-destacados {
    background-image: url(https://cdn.pixabay.com/photo/2016/10/22/17/06/gradient-1761190_1280.jpg);
    background-size: cover;
    background-attachment: fixed;

    .titulo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #030303;
        font-size: 60px;
        text-align: center;
        font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
        background-color: rgb(255, 243, 174);
        background-size: cover;
        margin-bottom: 0.5px;
    }
}

.galeria-jugadores {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-jugadores {
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);

    > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .hoover-jugadores {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        transform: scale(0);
        background: hsla(0, 0%, 0%, 0.7);
        transition: transform 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        p {
            color: hsla(180, 33%, 98%, 0.788);
        }

        img {
            width: auto;
            height: auto;
        }
    }

    &:hover .hoover-jugadores {
        transform: scale(1);
    }
}

.DT-destacados {
    background-image: url(https://images.unsplash.com/photo-1517747614396-d21a78b850e8?q=80&w=2127&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-attachment: fixed;

    .titulo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #030303;
        font-size: 60px;
        text-align: center;
        font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
        background-color: rgb(255, 243, 174);
        background-size: cover;
        margin-bottom: 0.5px;
    }
}

.galeria-DT {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-DT {
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

.imagen-DT > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hoover-DT {
    @extend %hoover-styles;
}

.imagen-DT:hover .hoover-DT {
    transform: scale(1);
}

div.imagenesmundiales {
    background-image: url(https://images.unsplash.com/photo-1487088678257-3a541e6e3922?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-flow: wrap;

    h1 {
        height: 90px;
        width: 150%;
        margin: 45px;
        font-size: 90px;
        font-weight: 900;
        color: hsla(192, 4%, 72%, 0.788);
        text-shadow:
            1px 2px 2px black,
            0 0 25px blue,
            0 0 5px blue;
    }
}

div.galerias {
    margin: 10px 20px;
    box-shadow:
        0 4px 8px 0 lightskyblue,
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 350px;
    background-color: #7c5f5f;

    img {
        width: 100%;
        height: auto;
    }

    &:hover {
        border: 1px solid lightcoral;
        transform: rotate(-3deg);
    }
}

div.pie {
    text-align: center;
    text-shadow: 2px 2px 5px rgb(197, 191, 197);
    padding: 10px;
}

.global {
    background-image: $imagen-fondo;
}

.tituloini {
    margin-bottom: 1%;
}

.contenido-videos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-flow: wrap;
    margin: 0 5%;
    text-align: center;
    text-shadow: 2px 2px 5px rgb(197, 191, 197);
    padding: 10px;
    margin-bottom: 0.5%;
    background-color: $color-fondo-contenido;
}

.videos a {
    text-decoration: none;
    color: $color-texto-enlaces;
}

.contenedor-quemirabobo {
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/139/266/574/argentina-barcelona-lionel-messi-wallpaper-preview.jpg);
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.7;
}

div.titulo-quemirabobo {
    h1 {
        height: 90px;
        font-size: 90px;
        font-weight: 950;
        color: hsla(0, 0%, 0%, 0.979);
        text-shadow:
            1px 2px 2px black,
            0 0 25px blue,
            0 0 5px blue;
    }
}

div.videos-messi {
    .video2,
    .video3 {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding: 0 32% 0 32%;

        p {
            text-align: center;
            padding: 10px;
            font-size: 40px;
            color: hsla(0, 0%, 0%, 0.979);
        }
    }
}

div.paragraph-messi {
    text-align: center;
    padding: 10px;

    h3 {
        text-align: center;
        font-size: 50px;
        text-shadow:
            1px 2px 2px rgb(17, 17, 17),
            0 0 25px blue,
            0 0 5px blue;
        color: hsla(0, 0%, 0%, 0.979);
    }

    p {
        font-size: 25px;
        font-weight: 1900;
        margin-top: 25px;
        justify-content: center;
        text-align: center;
        text-rendering: optimizeLegibility;
        text-shadow:
            1px 2px 2px rgb(231, 228, 228),
            0 0 25px rgb(145, 141, 141),
            0 0 5px rgb(183, 183, 185);
        color: hsla(0, 0%, 0%, 0.979);
    }
}


@media (width<=660px) {
    .boton {
        display: block !important;
        margin-top: 30px;
        width: 150px;
        background-color: #030303;
    }

    .offcanvas-body {
        display: flex;
        flex-direction: column;
        gap: 20px;

        a {
            color: #030303;
            text-decoration: none;
        }
    }

    .intro .textos-header {
        height: auto;

        h1 {
            height: auto;
        }
    }

    body {
        .logo-pagina {
            display: none !important;
        }
    }

    nav {
        display: none !important;
    }
    .foto-campeones {
        width: 220px;
        height: auto;
        min-width: 250px;

        img {
            width: 290px;
            height: auto;
            min-width: 250px;
        }
    }
    .contenedor-sobre-mundiales {
        .contenido-textos {
            p {
                width: 90%;
                font-size: 1rem;
            }
        }
    }

    .galeria-organismos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .organismos {
        .imagen-organismos {
            width: 90%;
            height: auto;
        }
    }

    .contenedorsobremundiales .contenido-textos iframe {
        width: 90%;
        height: auto;
    }

    footer .conteiner-footer {
        display: unset;
    }

    .titulo-final-footer  {
        padding: 0 5%;
        font-size: 1rem;
    }

    .contenido-mundiales {
        display: flex;
        flex-direction: column;

        button {
            font-size: 2rem;
        }
    }

    .jugadores-destacados {
        .imagen-jugadores {
            margin-bottom: 5px;
            width: 350px;
            height: 350px;
        }
    }

    .galeria-jugadores {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        object-fit: contain;
    }

    .DT-destacados {
        .imagen-DT {
            width: 350px;
            height: 350px;
        }
    }

    .galeria-DT {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        object-fit: contain;
    }

    div.imagenesmundiales h1 {
        font-size: 25px;
    }

    .global {
        .tituloini h1 {
            font-size: 25px;
        }
    }

    .contenido-videos {
        margin-top: 45px;

        h2 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 5px;
            margin-top: 10px;
        }

        a {
            font-size: 15px;
        }

        iframe {
            width: 75%;
            height: auto;
        }
    }

    
}
@media (width<=1024px) {
    body {
        .logo-pagina {
            display: none !important;
        }
    }

    nav {
        display: none !important;
    }
    .boton {
        display: block !important;
        margin-top: 30px;
        width: 150px;
        background-color: #030303;
    }

    .offcanvas-body {
        display: flex;
        flex-direction: column;
        gap: 20px;

        a {
            color: #030303;
            text-decoration: none;
        }
    }
    .galeria-organismos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .organismos {
        .imagen-organismos {
            width: 90%;
            height: auto;
        }
    }

    .jugadores-destacados {
        .imagen-jugadores {
            width: 350px;
            height: 350px;
        }
    }

    .galeria-jugadores {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        object-fit: contain;
    }

    .DT-destacados {
        .imagen-DT {
            width: 350px;
            height: 350px;
        }
    }

    .galeria-DT {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        object-fit: contain;
    }

    div.imagenesmundiales h1 {
        font-size: 35px;
    }

    .contenido-videos {
        h2 {
            font-size: 25px;
        }
    }


    
}
