$font-family: 'Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif';
$imagen-fondo: url(https://images.unsplash.com/photo-1520698857293-5d763dde010f?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
$color-fondo-contenido: #6b626241;
$color-texto-enlaces: #d9d9e4;